{% extends 'base.html' %}

{% block menu %}
    <a class="navbar-brand" href="{% url 'add_guest' %}">Добавить</a>
{% endblock %}

{% block content %}
<h1 class="pt-5 pb-2 text-center">Гостевая книга</h1>
{% for guest in guest_book %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" style="display: inline;">{{ guest.name }} ({{ guest.email }})</h5>
            <div class="float-right">
                <a href="{% url 'edit_guest' guest.pk %}" class="card-link"><i class="fas fa-edit"></i></a>
                <a href="#" class="card-link"><i class="far fa-minus-square"></i></a>
            </div>
            <p class="card-text">{{ guest.text }}</p>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock %}